</div>
</div>
</div>
<footer class="bg-dark text-white text-center py-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <hr class="bg-white">
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <h5>About Us</h5>
                <p>We are a team of passionate developers creating awesome websites.</p>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li>Email: info@example.com</li>
                    <li>Phone: +123 456 7890</li>
                    <li>Address: 123 Street, City, Country</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <ul class="list-unstyled d-flex justify-content-center">
                    <li class="me-3"><a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="me-3"><a href="#" class="text-white"><i class="fab fa-twitter"></i></a></li>
                    <li class="me-3"><a href="#" class="text-white"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
        <hr class="bg-white">
        <div class="row">
            <div class="col">
                <p class="mb-0">&copy; 2025 Your Company. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>


<script src="/js/app.min.js">$('#myTable').DataTable();</script>
</body>
</html>